
<div id="bulletin-right-toolbar">
    <a id="post-flya" data-bind="click: CreateFlierInstance.CreateFlierLaunch" class="std-btn std-image-btn btn-44">
        <span class="std-image-btn-icon"></span>
        <span>Post</span>
    </a>
</div>
