
<div id="bulletin-right-toolbar">
    <a href="javascript:void(0);" data-bind="click: CreateFlierInstance.CreateFlierLaunch" class="toolbar-item" title="Create Flier">
        <div class="toolbar-button add-flier-tool-bar-item"
             data-helptip-group="global-left-toolbar" 
             data-helptip-text="Post a Flier in your Local Community">        
        </div>
    </a>
</div>
