
<div id="bulletin-right-toolbar">
    <a href="javascript:void(0);" data-bind="click: CreateFlierInstance.CreateFlierLaunch" class="toolbar-item add-flier-tool-bar-item" title="Create Flier">
        Post
    </a>
</div>
