
<a id="logo" data-helptip-group="about-posta" data-helptip-text="" href="@Url.Action("Get", "Bulletin")">
    <div data-helptip-group-content="about-posta" style="display: none">                               
        <h3>Postaflya is your Local Community Noticeboard.</h3>
        <div>
            Put Ya Flyas Online!
            <ul class="about-list">
                <li>
                    Simply upload your Flya and post it to your Local Community Area.                         

                </li>    
                <li>
                    You can physically print off your Flya with QR codes and Urls to enable people to find your Flya online by snapping it on their phone or taking a tear off.   
                </li>
            </ul> 
                            
        </div>
        <div>
            Browse Community content
            <ul class="about-list">
                <li>
                    Simply search for your Local Community Area or Suburb.                         
                </li>    
                <li>
                    Tear off, or bookmark, Flyas you are interested in and we'll email the details directly to you as well as calendar entries and/or contact details.         
                </li>
                <li>
                    Revisit any time to find Flyas you have bookmarked 
                </li>
            </ul> 
        </div>
    </div>
                     
</a>