
<div id="global-left-toolbar">


@if (Request.IsAuthenticated)
{    
    <a id="profile-avatar" class="std-btn std-image-btn btn-44 btn-white" title="View Profile"
        href="@Url.Action("Peeled", "Profile")">
        <img class="toolbar-button avatarsmall std-image-btn-icon" data-bind="visible:bf.currentBrowserInstance.AvatarUrl, imgRetry: bf.currentBrowserInstance.AvatarUrl, attr: { alt: bf.currentBrowserInstance.DisplayName }"
             data-helptip-group="global-left-toolbar" 
             data-helptip-text="View your Fliers and Tearoffs"/>

        <span data-bind="visible:!bf.currentBrowserInstance.AvatarUrl" class="std-image-btn-icon"></span>
        <span>Profile</span>
    </a>   
}
else
{
    
    <a id="log-in-profile" href="@Url.Action("LoginPage", "Account")"  class="std-btn std-image-btn btn-44 btn-white" data-helptip-group="global-left-toolbar" data-helptip-text="Login or Create an Account">
        <span class="std-image-btn-icon"></span>
        <span>Login</span>
    </a>
}



<div data-helptip-group="global-left-toolbar"></div>

</div>