
@using System.Web.Optimization
@using Newtonsoft.Json
@using Website.Application.Extension.Dynamic
@model dynamic

@section scripts {

    @Styles.Render("~/Content/structure/FlierImport/DeskCss.css")
    @Styles.Render("~/Content/themes/taskflya/FlierImport/DeskCss.css")
    @Scripts.Render("~/Script/FlierImportDeskJs.js")
}

@Html.Partial("State/PageStateAdd", "Fliers")


<ul class="flier-imports" data-bind="foreach:fliers">
    <div data-bind="text: Title" >
            
    </div>
    <li data-bind="click: $parent.CreateFlierInstance.InitialiseFlier">
        <img data-bind="attr: { src: FlierImageUrl }" />
        <div data-bind="text: Title" >
            
        </div>
    </li>
</ul>