
@using System.Diagnostics
@model System.Web.Mvc.HandleErrorInfo


@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="page-content">
<div class="page-inner">
    <h2 class="error">Cant Find It</h2>
    <h3 class="error">Looks like you might be lost.</h3>
    
    <p>
      These aren't the webpages your looking for. Return to the saftey of your bulletin board @Html.ActionLink("HERE", "Get", "Bulletin")
    </p>
</div>
</div>
