
@using System.Diagnostics
@model System.Web.Mvc.HandleErrorInfo

@section scripts
{
    <script type="text/javascript">
    $(function () {

        var self = this;
        self.CreateFlierInstance = bf.globalCreateFlierInstance;
        ko.applyBindings(self);
    });
    </script>

}

@{
    ViewBag.Title = "Error";
}

<div class="page-content">
<div class="page-inner">
    <h2 class="error">Cant Find It</h2>
    <h3 class="error">We misplaced what you are looking for.</h3>
    
    <p>
      404
    </p>
</div>
</div>
