
@model dynamic

<div class="ui-bulletin-board">                                                                                 
    <div id="bulletinboard"  data-bind="template: { name: Layout.FlierTemplate, foreach: fliers }, visible: fliers().length > 0, updateLayout: Layout">
    @Html.Partial("State/PageStateAdd", "Fliers")    
    @Html.Partial("Bulletin/BulletinItems")
    </div>
    <div class="ui-loading-div" data-bind="visible: moreFliersPending" id="moreFliersPending">
        <span>Loading more Fliers... </span><img  src="~/Content/images/loading.gif"/>
    </div>
    <div class="ui-loading-div" data-bind="visible: noMoreFliers" id="noMoreFliers">
         <span>That's all folks!</span>
    </div>
</div>
                                                                                        
