
@using PostaFlya.Domain.Behaviour

@Html.Partial("~/Areas/Default/Views/Bulletin/SummaryTileTemplateNew.cshtml")

<div class="ui-bulletin-board">
      
    <div class="bulletin-showing-div" data-bind="visible: StatusText()">
        <span data-bind="text: StatusText"></span>
    </div>   
    
                                                                         
    <div id="bulletinboard" data-bind="foreach: DateSections(), visible: DateSections().length > 0">
        <div class="giglist-time-line">
            <ul class="time-line" data-bind="foreach: Dates, attr: { id: DateLink }">
                <li class="time-line-item" data-bind="css: { 'history': Ishistory, 'current': Iscurrent, 'future': Isfuture }">
                    <a class="date-nav-link" data-bind="attr: {href: DateLink}">
                        <span class="timeline-item-date" data-bind="css: { 'history': Ishistory, 'current': Iscurrent, 'future': Isfuture }, text: Datestring"></span>
                    </a>
                </li>
                <li class="time-line-seperator" data-bind="css: { 'history': Ishistory, 'current': Iscurrent, 'future': Isfuture }, visible: $index() < ($parent.Dates.length-1)">
                    &nbsp;
                </li>
            </ul>
        </div>

        <div data-bind="template: { name: $root.FlierTemplate, foreach: Flyers }, visible: Flyers.length > 0">
            
        </div>    

    </div>
    <div class="bulletin-loading-div" data-bind="visible: moreFliersPending" id="moreFliersPending">
        <span>Loading Flyers.....Please wait </span><div class="targetloading"></div>
    </div>
    <div class="bulletin-loading-div" data-bind="visible: noMoreFliersText()" id="noMoreFliers" style="display: none;"> 
        <span data-bind="text:noMoreFliersText"></span>  
    </div>
    <ul class="time-line by-week">
        <li class="time-line-item history">
            <a class="date-nav-link history" data-bind="attr: { href: PrevWeekLink }">
                <span class="timeline-item-date" data-bind="text: PrevWeek"></span>
            </a>
        </li>
        <li class="time-line-seperator history">
            &nbsp;
        </li>
        <li class="time-line-item">
            <a class="date-nav-link current" data-bind="attr: { href: CurrentDateLink }">
                <span class="timeline-item-date" data-bind="text: CurrentDate"></span>
            </a>
        </li>
        <li class="time-line-seperator">
            &nbsp;
        </li>
        <li class="time-line-item">
            <a class="date-nav-link future" data-bind="attr: { href: NextWeekLink }">
                <span class="timeline-item-date" data-bind="text: NextWeek"></span>
            </a>
        </li>
    </ul>
</div>
