@model dynamic

@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="page-content">
<div class="page-inner">
    <h2 class="">Flya Posted To Facebook</h2>
    <h3 class="">Thanks for sharing the love!</h3>
    
    <p>
      Close window by clicking <a href="javascript:window.close();">HERE</a>
    </p>
</div>
</div>

