_ReSharper.*
bin
obj
build
dist
*.suo
*resharper*
*.user
*.cache
*.dotCover
Release
TestResults
csx

*.cs.orig
AzureProject/Downloaded Profiling Logs/
*.orig
*/_UpgradeReport_Files/*
*/Backup/*
*/_NCrunch_*/*
*.ncrunchproject
*.ncrunchsolution
*ncrunchsolution*
*/rcf/Debug/*
