
<div class="popsceneswidget">
    @Html.Partial("BoardCalendarPartial")
    @Html.Partial("Bulletin/BulletinTileViewsPartial")
    @Html.Partial("Widget/BulletinList", new List<PostaFlya.Models.Flier.BulletinFlierSummaryModel>())
</div>