<div style="clear:both"></div>
<div id="social-div">
    <div id="twitter-div" class="social-link">
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
    </div>
    <div id="fb-like-div" class="social-link">
        <div class="fb-like" data-send="true" data-layout="button_count" data-width="90" data-show-faces="false"></div>
    </div>


</div>




@*<div class="addthis_toolbox addthis_default_style " style="width: 250px">*@
@*    <a class="addthis_button_preferred_1"></a>*@
@*    <a class="addthis_button_preferred_2"></a>*@
@*    <a class="addthis_button_preferred_3"></a>*@
@*    <a class="addthis_button_preferred_4"></a>*@
@*    <a class="addthis_button_compact"></a>*@
@*    <a class="addthis_counter addthis_bubble_style"></a>*@
@*</div>*@

@*<div class="addthis_bar addthis_bar_vertical addthis_bar_large" style="top:50px;left:50px;">*@
@*    <div class="addthis_toolbox addthis_default_style">*@
@*        <span><a class="addthis_button_facebook_like" fb:like:layout="box_count"></a></span>*@
@*        <span><a class="addthis_button_tweet" tw:count="vertical"></a></span>*@
@*        <span><a class="addthis_button_google_plusone" g:plusone:size="tall"></a></span>*@
@*        <span><a class="addthis_counter"></a></span>*@
@*    </div>*@
@*</div>*@

