.ui-flier-tile {
    background-color: #ffffff
}

.locSel #lsMain {
    background-color: #ffffff;
}

.ui-flier-tile-v-250h 
{
}

.detail-overlay {
    background-color: black;
    color: white;
    opacity: 0.0;

    -webkit-transition: all 0.5s ease-out 0s;
   -moz-transition: all 0.5s ease-out 0s;
   -ms-transition: all 0.5s ease-out 0s;
   -o-transition: all 0.5s ease-out 0s;
   transition: all 0.5s ease-out 0s; 
}


/***default detail view layout***/

.flier-view {

}

.flier-view .flier-details {
    
}

.flier-view .flier-details .flier-title {
}

.flier-view .flier-details .flier-img {
}

.flier-view .flier-details .flier-claims-comments{
    
}

.flier-view .flier-details .flier-claims-comments .claim-stats{
}

.flier-view .flier-details .flier-claims-comments .comment-stats{
}

.flier-view .flier-details .flier-desc {
    
}

.flier-view .comments {
    
}

.flier-view .claims {
    
}
/***end default detail view layout***/
