
@using System.Web.Optimization
@{
    ViewBag.Title = "My Pending Flyers and Credits";
    Layout = "_Layout.cshtml";
}

<h2>Pending Flyas</h2>
    <h3>What’s this I have to pay?</h3>
    <p>
        Popscenes is aimed at helping local artists promote their work. By charging a nominal fee we hope to turn away potential spammers and keep Popscenes for those who can benefit from the service. The cost for the average flyer is less than a colour print so it really is a small fee to get your message out and online.
    </p>
    
    <h3>How do I Pay?</h3>
<p>
    Flyers on this screen require you to add credits before they will become active. Click the “ADD CREDITS” button to go to our payment screen and add some Flya credits to your account! Once you have added credits you will brought back to this screen you can think click the PAY FOR FLYA button to activate the Flya for the specified number of credits.     
</p>

<h3>Current Flya Credits</h3>
    
Your Current Credit Account Balance <span data-bind="text:$root.currentBrowser.Credits"></span>

<div class="btm-buttons">
        @Html.ActionLink("Add Credits", "AddAccountCredit", "Payment", null, new {@class = "std-btn"})
    </div>

<h3>Fliers that require payemnt</h3>
    <div data-bind="foreach:MyPendingFliersList">
        <div class="paymnet-flier">
            <img style="width: 250px; margin: 10px auto" data-bind="bulletinimg: FlierImageUrl, root: $root, alt: Title, imgRetry: FlierImageUrl"/>
            <div><span data-bind="text:PendingCredits"></span> Flya Credits</div>
            <div class="btm-buttons">
                <a data-bind="click: $root.CreateFlierInstance.EditFlierLaunch" class="Button std-btn">Review And Activate</a>
            </div>
        </div>
    

    </div>
    
    
    
    <div class="btm-buttons">
        @Html.ActionLink("Transactions", "PaymentTransactions", "Payment", null, new {@class = "std-btn"})
    </div>



