@using System.Web.Optimization
@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts { 
    @Styles.Render("~/Content/structure/PaymentPending/DeskCss")   
    @Styles.Render("~/Content/themes/taskflya/PaymentPending/DeskCss")   
    @Scripts.Render("~/Script/PaymentPendingDeskJs") 
}

<h2>PaymentPending</h2>
