
@using System.Web.Optimization

@{
    ViewBag.Title = "My Peeled Flyers";
    Layout = "_Layout.cshtml";
}



<h2>Peeled Flyers</h2>
@Html.Partial("Bulletin/DetailTileTemplates")
@Html.Partial("SelectedItemDetailViewPartial")  

@Html.Partial("Bulletin/GigListByDatePartial")