
@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "My Posted Flyers";
    Layout = "_Layout.cshtml";
    
}

@Html.Partial("Bulletin/SelectedBulletinViewPartial")

<h2>Posted Flyers</h2>
<h3>Review and edit your existing flyers</h3>

<span id="post-post-flya">
<a id="post-flya" data-bind="click: CreateFlierInstance.CreateFlierLaunch" class="std-btn std-image-btn btn-44">
    <span class="std-image-btn-icon"></span>
    <span>Post New Flyer</span>
</a>
</span>

<div id="profile-fliers"  data-bind="template: { name: FliersLayout.FlierTemplate, foreach: Fliers }, visible: Fliers().length > 0, updateLayout: FliersLayout">

</div>
