
@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "My Posted Flyas";
    Layout = "_Layout.cshtml";
    
}

@Html.Partial("Bulletin/SelectedBulletinViewPartial")

<h2>Posted Flyas</h2>
<h3>Review and edit your existing fliers</h3>
<div id="profile-fliers"  data-bind="template: { name: FliersLayout.FlierTemplate, foreach: Fliers }, visible: Fliers().length > 0, updateLayout: FliersLayout">

</div>
