
<div class="imageSelector ignore">
    <div data-bind="attr:{id:uploaderElementId}"></div>
    
     <div id="new-images-upload" class="form-component">
        <h3>UPLOAD NEW IMAGE</h3>
        <div id="upload-container">
            <div id="filelist">
                <p>Browse to select images then select Add to upload to Posta Flya</p>
            </div>
            
            <div id="upload-controls">
                <a id="pickfiles" href="javascript:void(0);"></a>
                <a id="uploadfiles" href="javascript:void(0);"></a>
            </div>
        </div>
    </div>
    
    
    <div id="current-images" class="form-component">
        <div id="thumbs">
            <h3>SELECT EXISTING IMAGE</h3>
            <ul class="thumbs noscript" data-bind="template: { name: 'image-template2', foreach: imageList}, attr:{id:imageListId}">
        
            </ul>
        </div>
        <div class="nav-controls">
            <a class="prev" title="‹ Previous Photo" href="javascript:void(0);"></a>
            <a class="next" title="Next Photo ›" href="javascript:void(0);"></a>
        </div>
    </div>
    <div class="image-holder" style="display:none;"></div>
</div>
