<script type="text/html" id="image-template">
        <li style="width:120px; margin: 10px; padding: 0px;">
            <img data-bind="attr: { id: ImageId, src: ImageUrl  }, click: $parent.clickImage, imgRetry: ImageUrl" height="100" />
        </li>
    </script>