<script type="text/html" id="image-template">
        <li>
            <img data-bind="attr: { id: ImageId, src: ImageUrl  }, click: $parent.clickImage, imgRetry: ImageUrl" height="100" />
        </li>
    </script>