
<div class="imageSelector ignore">
    <div data-bind="attr:{id:uploaderElementId}"></div>
    
     <div id="new-images-upload" class="form-component">
        <h3>UPLOAD NEW IMAGE</h3>
        <div id="upload-container">
            <div id="filelist">
                <p>Browse to select images then select Add to upload to Postaflya</p>
            </div>
            
            <div id="upload-controls">
                <a class="pickfiles" id="pickfiles" href="javascript:void(0);"
                   data-helptip-group="image-upload" 
                   data-helptip-text="Browse your disk for the image to use as a Flier"
                    ></a>
                <a class="uploadfiles" id="uploadfiles" href="javascript:void(0);"
                   data-helptip-group="image-upload" 
                   data-helptip-text="Once you have selected an image click to upload to Postaflya"
                    ></a>
            </div>
            <div data-helptip-group="image-upload"></div>
        </div>
    </div>
    
    
    <div id="current-images" class="form-component">
        
            <div id="thumbs">
                
                <h3>SELECT EXISTING IMAGE</h3>
                <div class="nav-controls">
            <a class="prev" title="‹ Previous Photo" href="javascript:void(0);" 
               data-helptip-group="image-browse" 
               data-helptip-text="Browse back through your PostaFlya images">
            </a>
            </div>
                <ul class="thumbs noscript" data-bind="template: { name: 'image-template2', foreach: imageList}, attr:{id:imageListId}">
        
                </ul>
                <div class="nav-controls">
            <a class="next" title="Next Photo ›" href="javascript:void(0);"
               data-helptip-group="image-browse" 
               data-helptip-text="Browse forward through your PostaFlya images">
                
            </a>
        </div>
            </div>
        
        <div data-helptip-group="image-browse" data-helptip-text="">
            <div data-helptip-group-content="image-browse" style="display: none">                               
                        
                        <p>Click on an image to select it</p>
                    </div>
        </div>
        

    </div>
    <div class="image-holder" style="display:none;"></div>
</div>
