

<div class="imageSelector">
    <div data-bind="attr:{id:uploaderElementId}">
       
    </div>
    
    <ul data-bind="template: { name: 'image-template', foreach: imageList}, attr:{id:imageListId}">
        
    </ul>
    
    <button data-bind="click: toggleAddImage" class="Button">add image</button>
</div>
