
<div class="imageSelector ignore">
    <div data-bind="attr:{id:uploaderElementId}"></div>
    
     <div id="new-images-upload" class="form-component">
        <h3>UPLOAD NEW IMAGE</h3>
        <div id="upload-container">
            <div id="filelist">
                <p>Browse to select images then select Add to upload to Postaflya</p>
            </div>
            
            <div id="upload-controls">
                <a id="pickfiles" href="javascript:void(0);" class="pickfiles std-btn std-image-btn"
                   data-helptip-group="image-upload" 
                   data-helptip-text="Browse your disk for the image to use as a Flier">
                    <span class="std-image-btn-icon"></span>
                    <span>Browse</span>
                </a>
                <a id="uploadfiles" href="javascript:void(0);" data-helptip-group="image-upload" 
                   data-helptip-text="Once you have selected an image click to upload to Postaflya" class="uploadfiles std-btn std-image-btn">
                    <span class="std-image-btn-icon"></span>
                    <span>Add</span>
                </a>
            </div>
            <div data-helptip-group="image-upload"></div>
        </div>
    </div>
    
    
    <div id="current-images" class="form-component">
        
        <span  data-helptip-group="image-browse" data-helptip-text="Click on an image to select it"></span>
        <div id="thumbs">
                
                <h3>SELECT EXISTING IMAGE</h3>
                <div class="nav-controls">
            <a class="prev" title="‹ Previous Photo" href="javascript:void(0);" 
               data-helptip-group="image-browse" 
               data-helptip-text="Browse up through your PostaFlya images">
            </a>
            </div>
                
                <ul class="thumbs noscript" data-bind="template: { name: 'image-template2', foreach: imageList}, attr:{id:imageListId}">
        
                </ul>
                <div class="nav-controls">
            <a class="next" title="Next Photo ›" href="javascript:void(0);"
               data-helptip-group="image-browse" 
               data-helptip-text="Browse down through your PostaFlya images">
                
            </a>
        </div>
            </div>
        
        <div data-helptip-group="image-browse"></div>
        

    </div>
    <div class="image-holder" style="display:none;"></div>
</div>
