

<div class="imageSelector">
    <div id="new-images-upload">
        <h3>UPLOAD NEW IMAGE</h3>
    <!--<button data-bind="click: toggleAddImage" class="Button">add image</button>-->
        
        <div id="upload-container">
            <div id="filelist">
                
            </div>
            
            <div id="upload-controls">
                <a id="pickfiles" href="javascript:void(0);"></a>
                <a id="uploadfiles" href="javascript:void(0);"></a>
            </div>
        </div>
    </div>

    <div data-bind="attr:{id:uploaderElementId}">
       
    </div>
    
    <div id="thumbs">
        <h3>SELECT EXISTING IMAGE</h3>
        <ul class="thumbs noscript" data-bind="template: { name: 'image-template2', foreach: imageList}, attr:{id:imageListId}">
        
        </ul>
    </div>
    
    <div class="nav-controls">
        <a class="prev" title="‹ Previous Photo" href="javascript:void(0);"></a>
        <a class="next" title="Next Photo ›" href="javascript:void(0);"></a>
    </div>

    
    <div class="image-holder" style="display:none;">
        
    </div>
    
    
</div>
