
<div class="imageSelector ignore">
    <div data-bind="attr:{id:uploaderElementId}"></div>
    
     <div id="new-images-upload">
        <h3>UPLOAD NEW IMAGE</h3>
        <div id="upload-container">
            <div id="filelist">
                <p>Browse to select image for your flyer</p>
            </div>
            
            <span data-bind="with: selectedImage">
                <img data-bind="bulletinimg:ImageUrl, attr: { id: ImageId }, imgRetry: ImageUrl" style="width: 228px" />
            </span>
            
            <div id="upload-controls">
                <a id="pickfiles" href="javascript:void(0);" class="pickfiles std-btn std-image-btn">
                    <span class="std-image-btn-icon"></span>
                    <span>Browse</span>
                </a>
            </div>
        </div>
    </div>
    
    
   <!-- <div id="current-images" class="form-component" style="display: none">
        
        <div id="thumbs">
                
                <h3>SELECT EXISTING IMAGE</h3>
                <div class="nav-controls">
            <a class="prev" title="‹ Previous Photo" href="javascript:void(0);" >
            </a>
            </div>
                
                <ul class="thumbs noscript" data-bind="template: { name: 'image-template2', foreach: imageList}, attr:{id:imageListId}">
        
                </ul>
                <div class="nav-controls">
            <a class="next" title="Next Photo ›" href="javascript:void(0);">
                
            </a>
        </div>
            </div>
        
        
        

    </div>-->
    <div class="image-holder" style="display:none;"></div>
</div>
