

<div class="imageSelector">
    <div data-bind="attr:{id:uploaderElementId}">
       
    </div>
    
    <div id="thumbs">
        <ul class="thumbs noscript" data-bind="template: { name: 'image-template2', foreach: imageList}, attr:{id:imageListId}">
        
        </ul>
    </div>
    
    <div class="image-holder">
        
    </div>
    
    <button data-bind="click: toggleAddImage" class="Button">add image</button>
</div>
