

@using PostaFlya.Models.Board
@using PostaFlya.Models.Flier
@using PostaFlya.Models.Location
@using Website.Application.Domain.Content
@using PostaFlya.Areas.Default.Models

@model DefaultDetailsViewModel
@{
    BulletinFlierDetailModel flier = Model.Flier;
    BoardSummaryModel contactDets = Model.Flier.VenueBoard ?? new BoardSummaryModel();
}

<div class="flier-view flier-view-default" data-bind="click: function (event, data) { }, clickBubble: false">
    <div class="flier-img">
        <img data-bind="imgRetry: Flier.FlierImageUrl, bulletinimg: Flier.FlierImageUrl"/>
    </div>

    <div class="flier-details clear-fix" data-bind="with:Flier">  
        

        <div>
            <div class="flier-event-dates" >
            
                <ul data-bind="if: false" class="event-dates-list">
                    @foreach (var eventDate in flier.EventDates.Select(d => d.DateTime.ToLongDateString()))
                    {
                        <li> @eventDate </li>
                    }
                </ul>
                <ul data-bind="foreach: EventDates" class="event-dates-list">
                    <li data-bind="text: new Date($data).toDateString()"></li> 
                </ul>
                
            
            </div>
        </div>

        <h3 class="flier-title" data-bind="text:Title">
            @flier.Title
        </h3>
    
        
        <div data-bind="if: VenueBoard != null">
            <div class="flier-contact-dets" data-bind="with: VenueBoard">
                @Html.Partial("Contact/EventContactDetailsViewPartial", contactDets)
            </div>
        </div> 
        
       

        <div>
            <div class="flier-desc" data-bind="simpletext:Description">
                @flier.Description
            </div> 
        </div>
        
        
    </div>
                      
        



   

</div>



