

<div data-bind="foreach:MyFliersList">
    <div class="myfliers-flier">
    <img data-bind="bulletinimg: FlierImageUrl, root: $root, alt: Title, imgRetry: FlierImageUrl"/>
        <button data-bind="click:$root.editFlier" class="Button">Edit Flya</button>
    </div>

</div>