
@using Website.Application.Domain.Content
@using PostaFlya.Areas.Default.Models
@using PostaFlya.Models.Content
@model dynamic
@{var Flier = ViewBag.Template != null && ViewBag.Template ? DefaultDetailsViewModel.DefaultForTemplate().Flier : Model.Flier;}

<div class="flier-view flier-view-default">
    <div class="flier-details clear-fix" data-bind="with:Flier">  

        <div class="flier-title" data-bind="text:Title">
            @Flier.Title
        </div>
            
        <div class="flier-img">
            <img data-bind="imgRetry: FlierImageUrl" src="@Flier.FlierImageUrl"/>
        </div>
            
        <div class="flier-desc" data-bind="text:Description">
            @Flier.Description
        </div>                 
    </div>

        
    @Html.Partial("ClaimsPartial")


</div>



