
@using PostaFlya.Areas.Default.Models.Bulletin
@using PostaFlya.Domain.Behaviour
@using PostaFlya.Models.Flier

@model dynamic
@{var flier = ViewBag.Template != null && ViewBag.Template ? BulletinFlierModel<BulletinBehaviourModel>.DefaultForTemplate(FlierBehaviour.Default) : Model;}

<div class="ui-flier-tile addedtile" data-bind="bulletintile: $root.Layout, click: $root.SelectedViewModel.showDetails">     
    <img class="tile-img bulletin-img" 
         data-bind="bulletinimg: FlierImageUrl, root: $root, alt: Title, imgRetry: FlierImageUrl"
         src="@flier.FlierImageUrl"/>
    <div class="tile-summary">
        <a class="bold-link" data-bind="clickBubble: false, click: $root.TearOff">Peel</a>
        <div class="flier-title" data-bind="text:Title">
            @flier.Title
        </div>
        <div class="flier-locality" data-bind="text: Location.Locality">
            @flier.Location.Locality
        </div>
    </div>
        
</div>

