body{
	margin:0;
	padding:0;
	background-color:#f6f0e7;
    font-family:Verdana, Geneva, sans-serif;
	
}


header{
	width:100%;
	height:50px;
	min-height:50px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	min-width:1200px;
    border: 1px #D0CBC4 solid;
	
}

#logo{
	width:200px;
	height:50px;
	position:relative;
	overflow:visible;
	z-index:1000;
	float:left;
}
#logo a img
{
   border:none;
   border:0px;
}

#controls
{
    width:450px;
    margin-left:auto;
    margin-right:auto;
	height:70px;
	padding-top:8px;
	z-index:500; 
}

#global-toolbar
{
    margin-right:30px;
	height:70px;
	z-index:500; 
    float:right;
}

.locSel{
	width:375px;
	overflow:visible;
	float:left;
	margin-left:15px;
    position: relative;
}

#controls .ls-current
{
    display:block;
    margin-top:10px;
    padding:5px;
    margin-left:10px;
    float:left;
    border:1px solid #ccc;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 150px;
    height:20px;
    line-height:20px;
    overflow: hidden;
}

.ls-holder{
    width: 100%;   
}

input#locationSearch
{
display:block;
    margin-top:10px;
    padding:5px;
    margin-left:10px;
    float:left;
    border:1px solid #ccc;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 300px;
    height:20px;
    line-height:20px;
    overflow: hidden;
    outline:none;
}

#controls #lsMain
{
   padding:0px 0px 0px 0px;
	margin-top:0px;
	width:100%;
	background-color:transparent;
	position:relative;
	top:70px;
	left:0;
	z-index:3;
	text-align:center;
	opacity:1;
    clear:both;
}

#lsMain .map
{
    width:70%;
    margin-left:auto;
    margin-right:auto;
}

#locationTypeSelection{
	width:480px;
	padding:10px;
	background-color:#f7f1ea;
}

#locationTypeSelection .locOpt{
	width:160px;
	display:block;
	float:left;
}

#locationTypeSelection .locOpt .styledRadio{
	float:left;
	margin-right:5px;
}

#locationTypeSelection .locOpt label{
	float:left;
	margin-top:-1px;
}

.locationTypeChoice{
	width:480px;
	padding:10px;
	background-color:#f7f1ea;
}

.distSel{
    width: 315px;
    margin: 0px auto 15px auto;
}

.distance-slider{
	width:250px;
	float:left;
	height:26px;
}


#distValue{
	  display:block;
    margin-top:10px;
    padding:5px;
    margin-left:10px;
    float:left;
    border:1px solid #ccc;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 40px;
    height:20px;
    line-height:20px;
    overflow: hidden;
    text-align:center;
    background-color: white;
    font-size:13px;
}

#create-flier-imageList .img-error
{
    height:100px;
    width:120px;
}

ul.flier-images
{
    list-style-type:none;
}

ul.flier-images li
{
    display:inline-block;
}

/**************tags selector********************/



.tags-selector ul{
	margin:0;
	padding:0;
	list-style:none;
}

.tags-selector ul li{
	display:inline-block;
	margin:0px 5px 5px 5px;
	
}



.tags-selector ul li.tag-selected
{
    
}


.tags-selector .tags-box{
	padding:10px 0px 5px 0px;
	margin-top:0px;
	width:100%;
	background-color:transparent;
	top:70px;
	left:0;
	z-index:3;
	text-align:center;
	opacity:.9;
}

.displayInline {
    display: block;
}

.displayInline .tags-box {
    position: relative;
    top: 0px;
}

/**************tags selector********************/





#controls .Button{
	width:30px;
	height:30px;
	padding:10px;
	text-indent:-30000px;
}

#controls .Button:hover{
	width:30px;
	height:30px;
}

/**************************** main menu *************************/
#main-menu{
	
}

#main-menu a:hover{
	
}

#main-menu ul
{
    text-indent:0px;
    margin:0;
    padding:0px;
    position:absolute;
    top:40px;
    width:100px;
    left:-50px;
    display:none;
    list-style:none;
	border:1px solid #e82c0e;
}

#main-menu ul li{
	display:block;
	background-color:#f7f1ea;
	color:#e82c0e;
	min-height:20px;
	line-height:20px;
	padding-left:10px;
	
}

#main-menu ul li:hover{
	display:block;
	background-color:#e82c0e;
	color:#f7f1ea;
}
/*************end main menu *************************/

/************toolbar items**************************/


a.toolbar-item img{
    width: 50px;
    height: 50px;   
}

a.toolbar-item div{
    width: 50px;
    height: 50px;
    display: inline-block;  
}

a.toolbar-item div.profile-edit-tool-bar-item, a.toolbar-item div.add-flier-tool-bar-item,a.toolbar-item div.login-tool-bar-item, a.toolbar-item div.facebook-tool-bar-item
{
    background-size:50px 50px;
    background-repeat:no-repeat;
}


/************end toolbar items**************************/

.flier-imports li
{
    list-style:none;
    display:inline-block;
}

/************selected item popup/overlay div ********************/
div#selected-item-div, div#create-flier-item-div {
    position: absolute;
    z-index: 751;
    width: 600px;
    left: 50%;
    margin-left: -400px;
    padding: 20px;
}

div#selected-item-popup-overlay, div#create-flier-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 750;
}

div#selected-item-div .close-button, div#create-flier-item-div .close-button {
    position: absolute;
    right: 20px;
    top: 20px;
}
/************end selected item popup/overlay div ********************/



/*****************************forms***************************/

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }
    
    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

            .cost-breakdown li {
        margin-top: 10px;
    }

    .cost-description {
        font-size: 10px;
    }

    #current-images, #new-images-upload {
        float: left;
    }

    #new-images-upload {
        margin-left: 15px;
    }

.form {
    width:560px;
    margin-left:auto;
    margin-right:auto;  
}

form li {display: block;margin-bottom: 18px;}
form li label{font-size: 18px;width: 150px;vertical-align:top;}
form li > * { display: inline-block}
form input[type='text'], .form textarea 
{ 
    padding: 3px; 
    border: #93969C solid 1px;
    width: 300px;
}

form input[type='text'] {
    height: 31px;
}

form textarea {
    height: 90px;
}

.image-selector, .selected-image {
    display: inline-block;
}


/****claims*****/

.claim-icon {
    display: inline-block;
}

.claim-stats {
    
}

.claims-list {
    
}

.claims-item {
    display: inline-block;
    width: 50px;
    height: 50px;
}

/****end claims*****/

/****comments*****/
.comment-icon {
    display: inline-block;
}

.comments-stats {
    
}

.comments-div {
    
}

.comments-item {
    height: 50px;
}

/****end comments*****/

/****Avatar*****/
img.avatarsmall{
    width: 50px;
    height: 50px;
}
/****End Avatar*****/

/*social*/
#social-div {
    position: absolute;
    top: 5px;
    right: 5px;
}

#social-div .social-link {
    display: inline-block;
}

a.toolbar-item
{
    text-decoration: none;
}

.profile-view-tool-bar-item, .profile-view-tool-bar-item img
{
    border:0px;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

@media print {
    div#printholder {
        width: 100%;
        height: 100%;   
    }
    div#media {
        display: none;
    }
}

@media screen {
    div#printholder {
        display: none;
    }
}

.imageSelector ul {
    height: 310px;
    width: 270px;
    padding: 0;
    margin: 0;
}

.imageSelector ul li {
    padding: 0px;
    margin: 0px;
    margin-right: 2px; 
    height: 100px;
    width: 130px;
    display: inline-block;
}

.imageSelector ul li img { border: 0;}

.selected-image {
    vertical-align: top;
    margin-left:10px; 
}

#filelist {
    font-size: 12px;
    width: 270px;
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 10px;
}

#filelist div {
    margin-top: 2px;
}

.form-divider {
    display: block;
    float: left;
    width: 270px;
}

.form-divider-right {
    float: right;
    min-width: 270px;
}
.cost-container {
    position: relative;
    width: 50%;
}

.cost-breakdown {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: white;
    border: solid 1px #cccccc;
    padding: 0 10px 10px 10px;
}



