body{
	margin:0;
	padding:0;
	background-color:#f6f0e7;
    font-family:Tahoma, Verdana, Geneva, sans-serif;
	
}


header{
	width:100%;
	height:50px;
	min-height:50px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	/*min-width:1200px;*/
    border: 1px #D0CBC4 solid;
	
}

#logo{
	width:200px;
	height:50px;
    display: inline-block;
}
#logo a img
{
   border:none;
   border:0px;
}

#controls
{
    width:440px;
    margin-left:auto;
    margin-right:auto;
	height:70px;
	padding-top:8px;
	z-index:500; 
}

#global-toolbar
{
    margin-right:30px;
	z-index:500; 
    float:right;
}

.locSel{
	width:375px;
	overflow:visible;
}

#controls .ls-current
{
    display:block;
    margin-top:10px;
    padding:5px;
    margin-left:10px;
    float:left;
    border:1px solid #ccc;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 150px;
    height:20px;
    line-height:20px;
    overflow: hidden;
}

.ls-holder{
    width: 100%;   
}

input#locationSearch
{
display:block;
    margin-top:10px;
    padding:5px;
    margin-left:10px;
    float:left;
    border:1px solid #ccc;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 300px;
    height:20px;
    line-height:20px;
    overflow: hidden;
    outline:none;
}

#controls #lsMain
{
   padding:0px 0px 0px 0px;
	margin-top:0px;
	width:100%;
	background-color:transparent;
	position:relative;
	top:70px;
	left:0;
	z-index:3;
	text-align:center;
	opacity:1;
    clear:both;
}

#lsMain .map
{
    width:70%;
    height: 450px;
    margin-left:auto;
    margin-right:auto;
}

#locationTypeSelection{
	width:480px;
	padding:10px;
	background-color:#f7f1ea;
}

#locationTypeSelection .locOpt{
	width:160px;
	display:block;
	float:left;
}

#locationTypeSelection .locOpt .styledRadio{
	float:left;
	margin-right:5px;
}

#locationTypeSelection .locOpt label{
	float:left;
	margin-top:-1px;
}

.locationTypeChoice{
	width:480px;
	padding:10px;
	background-color:#f7f1ea;
}

.distSel{
    width: 315px;
    margin: 0px auto 15px auto;
}

.distance-slider{
	width:250px;
	float:left;
	height:26px;
}


#distValue{
	  display:block;
    margin-top:10px;
    padding:5px;
    margin-left:10px;
    float:left;
    border:1px solid #ccc;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 40px;
    height:20px;
    line-height:20px;
    overflow: hidden;
    text-align:center;
    background-color: white;
    font-size:13px;
}

#create-flier-imageList .img-error
{
    height:100px;
    width:120px;
}

ul.flier-images
{
    list-style-type:none;
}

ul.flier-images li
{
    display:inline-block;
}

/**************tags selector********************/



.tags-selector ul{
	margin:0;
	padding:0;
	list-style:none;
}

.tags-selector ul li{
	display:inline-block;
	margin:0px 5px 5px 5px;
	
}



.tags-selector ul li.tag-selected
{
    
}

#main-controls {
    clear: both;
}


.tags-selector .tags-box{
	padding:10px 0px 5px 0px;
	margin-top:0px;
	width:100%;
	background-color:transparent;
	left:0;
	z-index:3;
	text-align:center;
	opacity:.9;
    position: relative;
}

.displayInline {
    display: block;
}

.displayInline .tags-box {
    position: relative;
    top: 0px;
}

/**************tags selector********************/

#controls .Button{
	width:30px;
	height:30px;
	padding:10px;
	text-indent:-30000px;
    float:left;
}

#controls .Button:hover{
	width:30px;
	height:30px;
}

/**************************** main menu *************************/
#main-menu{
	
}

#main-menu a:hover{
	
}

#main-menu ul
{
    text-indent:0px;
    margin:0;
    padding:0px;
    position:absolute;
    top:40px;
    width:100px;
    left:-50px;
    display:none;
    list-style:none;
	border:1px solid #e82c0e;
}

#main-menu ul li{
	display:block;
	background-color:#f7f1ea;
	color:#e82c0e;
	min-height:20px;
	line-height:20px;
	padding-left:10px;
	
}

#main-menu ul li:hover{
	display:block;
	background-color:#e82c0e;
	color:#f7f1ea;
}
/*************end main menu *************************/

/************toolbar items**************************/


a.toolbar-item div, span.toolbar-item div{

    display: inline-block;  
}

div.toolbar-button, img.toolbar-button {
    width: 50px;
    height: 50px;
}

div.profile-edit-tool-bar-item, div.add-flier-tool-bar-item,div.login-tool-bar-item, div.facebook-tool-bar-item
{
    background-size:50px 50px;
    background-repeat:no-repeat;
}

div.question-tool-bar-item {
    background-size:30px 30px;
    background-repeat:no-repeat;
    background-position: center;
}


/************end toolbar items**************************/

.flier-imports li
{
    list-style:none;
    display:inline-block;
}

/************selected item popup/overlay div ********************/
div#selected-item-div, div#create-flier-item-div {
    position: absolute;
    z-index: 1751;
    margin-left: -300px;
    padding: 20px;
    left: 50%;
}

div#selected-item-div div.helptips-container, div#create-flier-item-div div.helptips-container{
    z-index: 2000;
}


div#create-flier-item-div {
    max-width: 600px;
}

div#selected-item-popup-overlay, div#create-flier-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1750;
}

div#selected-item-div .close-button, div#create-flier-item-div .close-button {
    position: absolute;
    right: 20px;
    top: 20px;
}

div#selected-item-div .question-tool-bar-item, div#create-flier-item-div .question-tool-bar-item {
    position: absolute;
    right: 70px;
    top: 5px;
}
/************end selected item popup/overlay div ********************/



/*****************************forms***************************/

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }
    
    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

            .cost-breakdown li {
        margin-top: 10px;
    }

    .cost-description {
        font-size: 10px;
    }


.form {
    width:560px;
    margin-left:auto;
    margin-right:auto;  
}

form li {display: block;margin-bottom: 18px;}
form li label{font-size: 18px;width: 150px;vertical-align:top;}
form li > * { display: inline-block}
form input[type='text'], .form textarea, form input[type="email"], form input[type="url"]  
{ 
    padding: 3px; 
    border: #93969C solid 1px;
    width: 300px;
}

form input[type="text"], form input[type="email"], form input[type="url"] {
    height: 31px;
}

form textarea {
    height: 90px;
}

.form-component {
    display: inline-block;
    width: 290px;
    vertical-align: top;
}

/****claims*****/

.claim-icon {
    display: inline-block;
}

.claim-stats {
    margin: 15px 0;
}

.claims-list {
    
}

.claims-item {
    display: inline-block;
    width: 50px;
    height: 50px;
}

/****end claims*****/

/****comments*****/
.comment-icon {
    display: inline-block;
}

.comments-stats {
    
}

.comments-div {
    
}

.comments-item {
    height: 50px;
}

/****end comments*****/

/****Avatar*****/
img.avatarsmall{
    width: 50px;
    height: 50px;
}
/****End Avatar*****/

/*social*/
#social-div {
    position: absolute;
    top: 5px;
    right: 5px;
}

#social-div .social-link {
    display: inline-block;
}

a.toolbar-item
{
    text-decoration: none;
}

.profile-view-tool-bar-item, .profile-view-tool-bar-item img
{
    border:0px;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

@media print {
    div#printholder {
        width: 100%;
        height: 100%;   
    }
    div#media {
        display: none;
    }
}

@media screen {
    div#printholder {
        display: none;
    }
}

.imageSelector ul {
    height: 310px;
    width: 270px;
    padding: 0;
    margin: 0;
}

.imageSelector ul li {
    padding: 0px;
    margin: 0px;
    margin-right: 5px; 
    height: 100px;
    width: 130px;
    display: block;
    overflow: hidden;
    float: left;
}

.imageSelector ul li a.thumb {
    position: relative;
    width: 133px;
}
.imageSelector ul li a.thumb .tick {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    

}

.imageSelector ul li img { border: 0; }

.selected-image {
    vertical-align: top;
}

#filelist {
    font-size: 12px;
    width: 265px;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding-right: 5px;
}

#filelist div {
    margin-top: 2px;
}

.form-divider {
    display: block;
    float: left;
    width: 270px;
}

.form-divider-right {
    float: right;
    min-width: 270px;
}
.cost-container {
    position: relative;
    width: 50%;
}

.cost-breakdown {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: white;
    border: solid 1px #cccccc;
    padding: 0 10px 10px 10px;
    z-index: 10;
    top: 25px;
}

.std-btn {
    display: inline-block;
    font-family: Tahoma;
    font-size: 12pt;
    color: white;
    background-color: #99D4E4;
    height: 18px;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
    border: #ACC8CD solid 1px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}


/*Help Tips Core**********************************/

div.helptips-container {
    padding: 10px;
    padding-top: 25px;
    position: absolute;
    z-index: 1000;
}

div.helptips-content
{
    padding: 10px;
}

div.helptips-arrow
{
    position: absolute;
    width: 15px;
    height: 26px;
    top: 0;
    left: 25px;
    z-index: 1001;
}

div.helptips-group-icon
{
    float: left;
}

div.helptips-group-text {
    padding: 10px;
}

div.helptips-footer {
    text-align: right;
}

/*End Help Tips Core**********************************/

/*Help tips global toolbar*/

#global-toolbar-helptip div.helptips-arrow{
    right: 60px;
    left: auto;
}

.helptips-container#global-toolbar-helptip {

    max-width: 25%;
    min-width: 100px;
    right: 0px;
}

#scrolltotop
{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

/*@media only screen and (min-width: 800px)
{*/
.file-upload-row {
    margin: 5px 0px;
    padding: 5px 0;
    border-bottom: 1px solid #84827D;
}

    .file-upload-row span {
        display: inline-block;
        text-align: right;
        float: right;
        font-weight: bold;
    }

@media only screen and (min-width: 800px)
{
        /**large*/
    .large .locSel #locationSearch{
        width: 500px;
        height: 60px;
        font-size: 25px;
        font-weight: bold;
    }

    .large#controls {
        width: 100%;
    }

    .large .page-toolbar {
        width: 725px;
        height: 100px;
        margin: auto;  
    }

    .large .helptips-container#bulletin-toolbar-helptip {
        top: 150px;    
    }

    .large#controls .Button {

        width:60px;
	    height:60px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .large#controls div.btn-location {
        background-position: 10px top;
    }

    .large#controls div.btn-tags {
        background-position: -80px top;
        margin-left: 0;
    }

    .large .page-toolbar-buttons {
        width: 200px;
    }

    .large #bulletin-toolbar-helptip div.helptips-group-text {
        padding-top: 30px;
        font-size: 16px;
    }
/**large*/

/*}*/


