<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Append below entry to configSections. Do not overwrite the full section. -->
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <dataCacheClients>
    <dataCacheClient name="default">
      <autoDiscover isEnabled="true" identifier="WebSite" />
      <!--<localCache isEnabled="true" sync="NotificationBased" objectCount="100000" ttlValue="3000" />-->
      <!--      <clientNotification pollInterval="1" />-->
      <autoDiscover isEnabled="true" identifier="[cache cluster role name]" />
    </dataCacheClient>
    <tracing sinkType="DiagnosticSink" traceLevel="Error" />
  </dataCacheClients>
</configuration>