
@using System.Web.Optimization
@using Website.Common.Extension
@{
    ViewBag.Title = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Styles.Render("~/Content/structure/HeatMap/DeskCss.css")   
    @Styles.Render("~/Content/themes/taskflya/HeatMap/DeskCss.css")  
    @Scripts.Render("~/Script/HeatMap/DeskJs.js") 
}

<div id="heatMap" style="width: 640px; height: 480px;" data-bind="heatMapBinding: currentLocation"></div>

<input id="locationSearch" type="text" />

