
@Html.Partial("State/PageStateAdd", "Location")

<div class="ls-holder">
    
    <input type="text" data-bind="value:description, attr:{id:locSearchId}"/>

    <div id="lsMain" data-bind="visible: showMain">
        
        <div data-bind="visible: ValidLocation()==false">
            <div data-bind="text:errorMessage"></div>
        </div>

        <div data-bind="attr:{id:mapElementId}" class="map" style="width: 70%; height: 450px;"></div>
    
        <div class="locationTypeChoice" data-bind="visible: locationType() =='saved'">
            Saved Locations
            <select  data-bind="options:savedLocations, optionsCaption:'Choose Saved Location', optionsText: 'Description', mapBinding: currentLocation"> </select>
        </div>
    </div>
</div>
