

<div id="@ViewBag.MapId" 
     data-bind="mapBinding: @ViewBag.LocationVariable, distance: @ViewBag.DistanceVariable, visibleTrigger: @( ViewBag.VisibleTrigger ?? "function(){ return true;}" )" 
     class="map">
     
</div>
        

