
<div id="@ViewBag.MapId" 
     data-bind="mapBinding: @ViewBag.LocationVariable, distance: @ViewBag.DistanceVariable, visibleTrigger: @( ViewBag.VisibleTrigger ?? "null" )" 
     class="map" 
     style="width: 70%;">
     
</div>
        

