<div>
    <span>Show Gigs From</span>
    <ul id="dateFilterList">
        <li><a data-bind="click:clearDate">Latest</a></li>
        <li><a data-bind="click:setDateToday">Today</a></li>
        <li class="desk-only"><a data-bind="click:setDateTomorrow">Tomorrow</a></li>
        <li class="desk-only"><a data-bind="click:setDateThisWeek">This Week</a></li>
        <li class="desk-only"><a data-bind="click:setDateNextWeek">Next Week</a></li>
        <li class="desk-only"><a data-bind="click:setDateThisMOnth">This Month</a></li>
        <input id="date-filter" data-bind="datePicker:{onSelect: $data.setDate}" type="hidden"/>
        <li><a data-bind="dateToggle: 'date-filter'">Select Date</a></li>
    </ul>
</div>