@model dynamic

<script type="text/html" id="empty-detail">
</script>
@Html.Partial("~/Areas/" + (string)Model.Flier.FlierBehaviour + "/Views/Bulletin/DetailTileTemplate.cshtml")

<div id="item-detail-div-id" class="get-flier-detail-div" 
    data-bind="template: { name: viewModFactory.getDetailTemplate, data: selectedDetail}">
    
    @if (Model != null)
    {
        @Html.Partial("State/PageStateAdd", "FlierDetail")
        @Html.Partial("~/Areas/" + (string)Model.Flier.FlierBehaviour + "/Views/Bulletin/DetailTile.cshtml")
    } 

</div>