
@using System.Diagnostics
@using PostaFlya.Models
@using Website.Infrastructure.Tracing
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}


<input type="hidden" value="@TraceUtil.TraceError(Model.Exception)"/>


<div class="page-content">
<div class="page-inner">
    <h2 class="error">You Broke It!!!</h2>
    <h3 class="error">Looks like we've had a boo boo.</h3>
    
    <p>
        We tripped over the plug in the wall. If the error persist please email us at <a href="mailto:support@postaflya.com">support@postaflya.com</a>
    </p>
</div>
</div>
