<div id="global-toolbar">

@if (Request.IsAuthenticated)
{
    <a data-bind="click: CreateFlierInstance.CreateFlierLaunch" class="toolbar-item">
        <div class="add-flier-tool-bar-item"></div>
    </a>
    
    <a href="@Url.Action("Edit", "Profile")" class="toolbar-item" title="Edit Profile">
        <div class="profile-edit-tool-bar-item"></div>
    </a>
    
    <a data-bind="attr: { href: '/' + bf.currentBrowserInstance.Handle }" class="toolbar-item profile-view-tool-bar-item" title="View Profile">
        <img  class="avatarsmall" data-bind="imgRetry: bf.currentBrowserInstance.AvatarUrl, attr: { alt: bf.currentBrowserInstance.DisplayName }"/>
    </a>

    
}
else
{
    <a href="@Url.Action("LoginPage", "Account")" class="toolbar-item" title="Login">
        <div class="login-tool-bar-item"></div>
    </a>
}

</div>