
<script type="text/html" id="empty-detail">
</script>

<div data-bind="click: SelectedViewModel.hideDetailView, visible: SelectedViewModel.SelectedDetail() != null" id="selected-item-popup-overlay" style="display: none"></div>
<div id="selected-item-div" data-bind="with: SelectedViewModel, visible: SelectedViewModel.SelectedDetail() != null, absolutePosFromScroll: SelectedViewModel.SelectedDetail" style="display: none">
    <div class="close-button mini-button red-button" data-bind="click: hideDetailView">close</div>
    <div class="selected-item-detail-div" 
         data-bind="template: { name: getDetailTemplate, data: SelectedDetail}"> 
    </div>
</div>

