body{
	
	background-image:url(images/bg-texture-01.png);
	background-repeat:no-repeat;
	background-position:0 0;
    font-family:'Open Sans',Tahoma, Helvetica, Geneva, sans-serif;
}

header{
background-repeat: no-repeat;
background-position: center center;
background-color: white;
}


.paymnet-flier {
    display: inline-block;
}

.close-button {

}

#main-menu
{
    float:right;
    background-position:-1200px 0px;  
    margin-left:10px; 
}

#lsMain
{   
	background-image:none;
}

#controls #lsMain
{
	background-image:url(images/white-90.png);
}


/************toolbar items**************************/

a.toolbar-item img{
}

a.toolbar-item div{
}

div.profile-edit-tool-bar-item {
	background-image:url(images/edit-profile-btn-2.png);
}

div.add-flier-tool-bar-item
{
    background-image:url(images/post-flya-btn-2.png);
}

div.facebook-tool-bar-item
{
    background-image:url(images/icon_0006_Group-1.png);
}

div.login-tool-bar-item
{
    background-image:url(images/icon_0001_Group-5.png);
}

div.question-tool-bar-item {
    background-image: url(images/question-mark-icon.png);
}

.helptips-group-icon.question-tool-bar-item {
    border: none;
}
/************end toolbar items**************************/

div#create-flier-item-div, div#selected-item-div
{
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;

}

#flierCreateStep
{
    margin: 15px 0px;
}

/************selected item popup/overlay div ********************/
div#selected-item-div, div#create-flier-item-div {
    background-color: white; 
    opacity: 1;
}

div#selected-item-popup-overlay, div#create-flier-popup-overlay {
    background-color: white;
    opacity: 0.95;
}
/************end selected item popup/overlay div ********************/


.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 20px;
	height: 20px;
	background-image:url(images/slider-handle.png);
	background-repeat:no-repeat;
	background-position:0 0;
	cursor: default;
	margin-top:-4px;
}
.ui-slider .ui-state-default, .ui-slider .ui-widget-content .ui-slider .ui-state-default, .ui-slider .ui-widget-header .ui-slider .ui-state-default 
{
    background:none;
}



#main-menu{
	
}

#main-menu:hover{
	
}

.ui-slider {
	position: relative;
	text-align: left;
	margin-top:20px;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 25px;
	height: 25px;
	background-image:url(images/slider-handle.png);
	background-repeat:no-repeat;
	background-position:0 0;
	cursor: default;
	margin-top:-5px;
	border:none!important;
	outline:none;
    background-size: 25px 50px;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}
.ui-slider-horizontal {
	height: 12px;
	background:#8EC7D5!important;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -1px;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.bx-prev {
	position: absolute;
	top: 78px;
	left: -35px;
	width: 31px;
	height: 31px;
	text-indent: -999999px;
	background: url(./images/icon_arrow_left.png) no-repeat 0 -31px;
}

.bx-next {
	position: absolute;
	top: 78px;
	right: -40px;
	width: 31px;
	height: 31px;
	text-indent: -999999px;
	background: url(./images/icon_arrow_right.png) no-repeat 0 -31px;
}

/************tag selector ********************/

.bulletin-tags-selector .tags-selector ul li div {
    display: none;
}

.bulletin-tags-selector .tags-selector .tags-box {
    padding-top: 22px
}

.bulletin-tags-selector .tags-selector ul li {
    font-size: 14px;
    color: #FF7D00;
    font-weight: bold;
    width: auto;
    padding: 4px 14px;
}

.bulletin-tags-selector .displayInline {
    display: inline-block;
}

.bulletin-tags-selector .tags-selector ul li.tag-selected {
    color: white;
    background-color: #FF7D00;
    border-radius: 10px;
}

.tags-selector ul li
{
    text-align:center;
    width:100px;
    line-height:20px;
}
.tags-selector ul li div{
	background-image:url(images/icons.png);
    background-size:4000px 300px;
	border:1px dotted #ccc;
	outline:none;
	color:#fff;
	width:60px;
	height:60px;
	padding:20px;
	border-radius: 5px;
    background-color: white;
	
}

.tags-selector ul li .event
{
    background-position:-560px top;
}
.tags-selector ul li.tag-selected .event
{
    background-position:-560px bottom;
}

.tags-selector ul li .social
{
    background-position:-660px top;
}
.tags-selector ul li.tag-selected .social
{
    background-position:-660px bottom;
}

.tags-selector ul li .comedy
{
    background-position:-760px top;
}
.tags-selector ul li.tag-selected .comedy
{
    background-position:-760px bottom;
}

.tags-selector ul li .theatre
{
    background-position:-860px top;
}
.tags-selector ul li.tag-selected .theatre
{
    background-position:-860px bottom;
}

.tags-selector ul li .books
{
    background-position:-960px top;
}
.tags-selector ul li.tag-selected .books
{
    background-position:-960px bottom;
}

.tags-selector ul li .pets
{
    background-position:-1160px top;
}
.tags-selector ul li.tag-selected .pets
{
    background-position:-1160px bottom;
}

.tags-selector ul li .lost
{
    background-position:-1260px top;
}
.tags-selector ul li.tag-selected .lost
{
    background-position:-1260px bottom;
}

.tags-selector ul li .found
{
    background-position:-1360px top;
}
.tags-selector ul li.tag-selected .found
{
    background-position:-1360px bottom;
}

.tags-selector ul li .music
{
    background-position:-1060px top;
}
.tags-selector ul li.tag-selected .music
{
    background-position:-1060px bottom;
}

.tags-selector ul li .services
{
    background-position:-1460px top;
}
.tags-selector ul li.tag-selected .services
{
    background-position:-1460px bottom;
}

.tags-selector ul li .fashion
{
    background-position:-1560px top;
}
.tags-selector ul li.tag-selected .fashion
{
    background-position:-1560px bottom;
}

.tags-selector ul li .food-__0026-drink
{
    background-position:-1660px top;
}
.tags-selector ul li.tag-selected .food-__0026-drink
{
    background-position:-1660px bottom;
}

.tags-selector ul li .sport
{
    background-position:-1760px top;
}
.tags-selector ul li.tag-selected .sport
{
    background-position:-1760px bottom;
}

.tags-selector ul li .automotive
{
    background-position:-1860px top;
}
.tags-selector ul li.tag-selected .automotive
{
    background-position:-1860px bottom;
}

.tags-selector ul li .education
{
    background-position:-1960px top;
}
.tags-selector ul li.tag-selected .education
{
    background-position:-1960px bottom;
}

.tags-selector ul li .film
{
    background-position:-2060px top;
}
.tags-selector ul li.tag-selected .film
{
    background-position:-2060px bottom;
}

.tags-selector ul li .photography
{
    background-position:-2160px top;
}
.tags-selector ul li.tag-selected .photography
{
    background-position:-2160px bottom;
}

.tags-selector ul li .art-__0026-craft
{
    background-position:-2260px top;
}
.tags-selector ul li.tag-selected .art-__0026-craft
{
    background-position:-2260px bottom;
}

.tags-selector ul li .accommodation
{
    background-position:-2360px top;
}
.tags-selector ul li.tag-selected .accommodation
{
    background-position:-2360px bottom;
}

.tags-selector ul li .kids
{
    background-position:-2460px top;
}
.tags-selector ul li.tag-selected .kids
{
    background-position:-2460px bottom;
}

.tags-selector ul li .property
{
    background-position:-2560px top;
}
.tags-selector ul li.tag-selected .property
{
    background-position:-2560px bottom;
}

.tags-selector ul li .for-sale
{
    background-position:-3360px top;
}
.tags-selector ul li.tag-selected .for-sale
{
    background-position:-3360px bottom;
}

.tags-selector ul li .sale
{
    background-position:-2660px top;
}
.tags-selector ul li.tag-selected .sale{
    background-position:-2660px bottom;
}

.tags-selector ul li .technology
{
    background-position:-2760px top;
}
.tags-selector ul li.tag-selected .technology{
    background-position:-2760px bottom;
}

.tags-selector ul li .community
{
    background-position:-2860px top;
}
.tags-selector ul li.tag-selected .community
{
    background-position:-2860px bottom;
}

.tags-selector ul li .wanted
{
    background-position:-2960px top;
}
.tags-selector ul li.tag-selected .wanted
{
    background-position:-2960px bottom;
}

.tags-selector ul li .task
{
    background-position:-3060px top;
}
.tags-selector ul li.tag-selected .task
{
    background-position:-3060px bottom;
}

.tags-selector ul li .for-free
{
    background-position:-3160px top;
}
.tags-selector ul li.tag-selected .for-free
{
    background-position:-3160px bottom;
}

.tags-selector ul li .job
{
    background-position:-3260px top;
}
.tags-selector ul li.tag-selected .job
{
    background-position:-3260px bottom;
}

.print-options {
    width: 685px;
    margin: 0 auto;
    display: none;
    position: absolute;
    background-color: white;
    top: 0px;
    left:50px;
}

.flier-print:hover .print-options, .flier-print.touch-hover .print-options{
    display: block;
}

.flier-print {
    display: inline-block;
    position: relative;
}

.show-hide-print-options {
    background-image: url(images/print-icon.png);
    width: 50px;
    height: 50px;
    display: inline-block;   
}

.print-options a {
background-image: url(images/print-options.png);
outline: none;
color: #fff;
width: 110px;
height: 115px;
background-color: white;
text-indent: -3000px;
display: inline-block;
}

.print-opt-tearoff {
    background-position: 0 -11px
}
.print-opt-code {
    background-position: 238px -11px
}
.print-opt-topleft {
    
    background-position: 233px 139px
}
.print-opt-topright {
    
    background-position: 120px -11px
}
.print-opt-bottomleft {
    background-position: 0 139px
}
.print-opt-bottomright {
    background-position: 118px 139px
}

h2 {
    font-weight: normal;
    font-size: 30px;
    color: #98D5E4;
    text-transform: uppercase;

}

h3 {
    font-weight: normal;
    font-size: 20px;
    color: #98D5E4;
    text-transform: uppercase;
    border-bottom: #98d5e4 solid 2px;
}

.page-content {
    background-color: white;
    width: 70%;
    margin: 30px auto;
    border: 1px #D0CBC4 solid;
    padding: 15px;
    min-height: 600px;
}
.page-inner {
    width: 70%;
    margin: 0 auto;
}

#profile-view .isotope {
    margin: 0;
}

/*****flier form*****/
#flierForm #lsMain .map {
    margin: 0;
    width: 100% !important;
 
}


#flierForm input[type="text"].location-search {
    border-radius: 0px;
    width: 594px;
    margin-bottom: 10px;
}

#flierForm #addressSearch.location-search {
    width: 300px;
}

#flierForm input[type="text"]#Title, #flierForm textarea {
    width: 259px;
}

input, textarea {
    font-family: Tahoma, Helvetica, Geneva, sans-serif;
    font-size: 1em
}

form li label {
    color: #555555;
}

.nav-controls a {
    display: block;
    width: 40px;
    height: 42px;
    margin: 10px auto;
}

.next {
    background: url(images/down-icon.png);
}

.prev {
    background: url(images/up-icon.png);
}

#upload-controls a, #form-buttons a {
    display: inline-block;
}

.pickfiles {
    width: 146px;
    height: 40px;
    background: url(images/browse-btn.png);
}
.uploadfiles {
    width: 98px;
    height: 40px;
    background: url(images/add-btn.png);
}

#image-upload-helptip .helptips-group-icon.pickfiles,
#image-upload-helptip .helptips-group-icon.uploadfiles,
#image-browse-helptip .helptips-group-icon.prev,
#image-browse-helptip .helptips-group-icon.next {
    width: 80px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px;
}

#image-upload-helptip .helptips-group-icon.pickfiles,
#image-upload-helptip .helptips-group-icon.uploadfiles {
    background-size: 80px 30px;
}


.select-mini-btn {
    width: 49px;
    height: 25px;
    background: url(images/select-btn.png);
    float: right;
    cursor: pointer;
    margin-right: 15%;
}

#flya-create-continue, #flya-create-update, #flya-create-save, #profile-save {
    width: 146px;
    height: 40px;
    background: url(images/continue-btn.png);
    float: right;
    cursor: pointer;
}

#flya-create-save, #flya-create-update, #profile-save {
    background: url(images/finish-btn.png);
}

#flya-create-back {
    width: 146px;
    height: 40px;
    background: url(images/back-btn.png);
    float: left;
}

.preview-avatar {
    margin: 0 0 15px 10%;
}

.validation-summary-valid {
    display: none;
}

.field-validation-error, .validation-summary-errors {
    display: block;
    border: 1px solid #CD0A0A;
    background: #FEF1EC;
    color: #CD0A0A;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
}

#profileeditform .field-validation-error
{
    margin: 10px 155px;
    width: 297px;
}

.about-bg {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    min-height: 700px;
    height: 100%;
    background-image: url(images/about-posta2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    z-index: -1;
}

.about-bg-trans {
  opacity:0.2;
}

#openid_btns {
    clear: both;
width: 250px;
margin: 0 auto;
}

.btm-buttons {
    margin-top: 15px;
    text-align: left;
}

.transaction-item {
    list-style: none;
}

#toolbar-header {
    background-image: url(images/toolbar-heading.png);
    width: 490px;
    height: 21px;
    display: inline-block;
    margin: 22px 0 0 200px;
}

.mini-button {
    background-color: #D28282;
    padding: 5px 10px;
    border: #ACC8CD solid 1px;
    font-size: 10px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.red-button {
    background-color: #D28282;
}

.blue-button {
    background-color: #99D4E4;
}

.flier-cost-summary {
    background-color: white;
    padding: 5px 10px;
    border: #99D4E4 solid 1px;
    font-size: 12px;
    color: #99D4E4;
    font-weight: bold;
    cursor: pointer;   
}

.big-tick {
    background-image: url(images/big-tick.png);
    width: 40px;
    height: 40px;
    display: none;
    vertical-align: bottom;
}

.imageSelector ul li a.thumb .tick {
    background-image: url(images/big-tick.png);
    width: 40px;
    height: 40px;
    opacity: 0.8;
}

#logo {
    background-image: url("images/navbar-logo.png");
    height: 44px;
}

.page-toolbar-buttons {
    display: inline-block;
    width: 200px;
}

/*Help Tips Core**********************************/

div.helptips-on
{
    border: 1px solid #cccccc;
    background-color: rgb(255, 255, 218);
}

div.helptips-content
{
    border: 1px solid #cccccc;
    background-color: rgb(255, 255, 218);
    font-size: 12px;
    line-height:20px;
    opacity: 0.95;
   /* padding: 4px;*/
}

div.helptips-arrow
{
    background-position: center -5px;
    background-image: url("images/helptips-arrow.png");
    background-repeat: no-repeat;
}

a.helptips-next {
    display: none;
}
/*End Help Tips Core**********************************/

.helptips-container#about-posta-helptip {
    width: 40%;
    min-width: 135px;
}

.helptips-container#about-posta-helptip {
    padding-top: 60px;
}

.helptips-container#about-posta-helptip div.helptips-arrow
{
    width: 20px;
    height: 61px;
}

.helptips-container#bulletin-toolbar-helptip {
    top: 150px;
    left: 41%;
    max-width: 30%;
    min-width: 94px;
}


.ImgButton {
    background-image: url(images/icons.png);
    background-size:4000px 300px;
    outline:none;
	color:#fff;
    cursor: pointer;
}

ul.about-list {
    padding-left: 23px;
}

ul.about-list li {
    list-style: none;
    line-height:20px;
}

div.ls-holder-text {
    margin: 0 auto;
    display: table;
    text-align: left;
    width: 90%;
   /* position: relative;*/
}

div.ls-holder-text input.location-search {
    display: table-cell;
}







@media only screen and (max-width: 800px)
{
    .page-toolbar {
        width: 100%;
    }

    .page-toolbar-buttons {
        margin: 0 auto;
    }

    input#locationSearch {
        width: 100%
    }
    .locSel {
        width: 100%;
    }

    .ls-relative-back {
        margin-left: 5%;
        margin-right: 5%;
    }

    .helptips-container#bulletin-toolbar-helptip {
        padding-top: 75px;
        right: 0;
    }

    .helptips-container#bulletin-toolbar-helptip div.helptips-arrow
    {
        width: 20px;
        height: 76px;
    }
}


@media only screen and (max-width: 600px)
{

    .ui-flier-tile img {
        width: 140px!important;
    }

    .ui-flier-tile {
        width: 144px!important;
    }

    .flier-view .flier-details .flier-img img {
        width: 250px !important;
    }


    h2 {
        font-size: 20px;
        display: block;
    }
    h3 {
        font-size: 16px;
        display: block;
    }

    .distSel {
        width: 90%;
    }

    .distance-slider {
        width: 70%;
        margin-left: 5%;
    }

    #lsMain .map {
        width: 80%;
        height: 250px;
    }

   
    #logo {
        width: 90px;
    }

    #flya-create-back {
        width: 125px;
    }

    #logo a#left-logo {
        background-image: url("images/postaflya-logo-blue-small.png");
        width: 100px;
        height: 50px;
        background-repeat: no-repeat;
    }

    .form {
        width: 90%;
    }

    .preview-avatar {
        margin: 0 10% 10px 0;
    }

    .page-content {
        margin: 0 0;
        width: 96%;
        padding: 2%;
        margin-top: 10px;
    }

    .page-inner {
        width: 100%
    }

    div#selected-item-div, div#create-flier-item-div {

        left: 0;
        padding: 5%;
        width: 90%;
        margin-left: 0;
        
    }

    .print-options {
        width: 225px;
    }

     div#create-flier-item-div {
         top: 0px !important;
     }

    #flierForm input[type="text"].location-search {
        width: 90%
    }
    form input[type="text"], .form textarea, form input[type="email"], form input[type="url"] {
        width: 90%;
        margin-top: 10px;
    }
   
    #global-toolbar {
        margin-right: 0px;
    }
 
    div.helptips-container {
        padding-left: 0;
        padding-right: 0;
    }

    

    .helptips-container#global-toolbar-helptip {
        padding-top: 75px;
    }

    .helptips-container#global-toolbar-helptip div.helptips-arrow
    {
        width: 20px;
        height: 76px;
    }

    .helptips-container#global-toolbar-helptip div.helptips-content
    {
        font-size: 11px;
    }

    div.helptips-container.helptips-visible {
        display: none;
    }

    div.helptips-footer{
        display: none;    
    }

    div.helptips-header {
        display: block;
    }

    a.helptips-next {
        display: inline;
    }

    div.helptips-container.focused {
        display: block;
        z-index: 10001;
        left: 2%!important;
        width: 96%!important;
        max-width: none!important;
    }

    #bulletin-toolbar-helptip div.helptips-group-text {
        font-size: 11px;
    }

}

