html {
    background-color: #f9faf8;
    background-image: -ms-linear-gradient(left, #f9faf8 0%, #f7f9fa 100%);
    background-image: -o-linear-gradient(left, #f9faf8 0%, #f7f9fa 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f9faf8), color-stop(1, #f7f9fa));
    background-image: -webkit-linear-gradient(left, #f9faf8 0%, #f7f9fa 100%);
    background-image: linear-gradient(left, #f9faf8 0%, #f7f9fa 100%);
}

body {

    color: #333;
}

a:link, a:visited,
a:active, a:hover {
    color: #333;
}

a:hover {
    background-color: #c7d1d6;
}

header, footer, hgroup,
nav, section {
}

.float-left {
}

.float-right {
}

.highlight {
    background-color: #a6dbed;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5, h6 {

}


/* main layout
----------------------------------------------------------*/
header {
    /*box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);*/
}
.content-wrapper {

    }

#body {

}

.main-content {

}

.featured + .main-content {
    background: url("../Images/heroAccent.png") no-repeat;
}

footer {

}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
}

.site-title a, .site-title a:hover, .site-title a:active {
    color: #c8c8c8;
}


/* login
----------------------------------------------------------*/
#login {
}

    #login a {
        background-color: #d3dce0;
    }

    #login a.username {
    }

    #login ul {

    }

    #login li {

    }


/* menu
----------------------------------------------------------*/
ul#menu {

}

    ul#menu li {

    }

        ul#menu li a {
            color: #999;
        }

        ul#menu li a:hover {
            color: #333;
        }


/* page elements
----------------------------------------------------------*/


/* page titles */
hgroup.title {

}

hgroup.title h1, hgroup.title h2 {

}

hgroup.title h2 {

}

/* features */
section.feature {

}

/* ordered list */
ol.round {

}
    ol.round li {
    }

        ol.round li.one {
            background: url("../Images/orderedListOne.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedListTwo.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedListThree.png") no-repeat;
        }

/* content */
article {

}

aside {

}

    aside ul {

    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
        }

.label {

}

/* login page */
#loginForm {
    border-right-color: #c8c8c8;
}

    #loginForm .validation-error {

    }

#socialLoginForm {

}

/* contact */
.contact h3 {

}

.contact p {

}

.contact iframe {
    border-color: #333;
}

/* forms */
fieldset {
}

    fieldset legend {
    }
    
    fieldset ol {
    }

    fieldset ol li {

    }

    fieldset label {

    }

    fieldset label.checkbox {

    }

    fieldset input[type="text"],
    fieldset input[type="password"] {
        border-color: #e2e2e2;
        color: #333;
    }

        fieldset input[type="text"]:focus,
        fieldset input[type="password"]:focus {
            border-color: #7ac0da;
        }

    fieldset input[type="submit"] {
        background-color: #d3dce0;
        border-color: #787878;
        cursor: pointer;
    }

/* ajax login/registration dialog */
.modal-popup {

}

    .modal-popup input[type="text"],
    .modal-popup input[type="password"] {

    }

/* info and errors */
.message-info {

}

.message-error {
    color: #e80c4d;
}

.message-success {
    color: #7ac0da;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;

}

.field-validation-valid {

}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border-color: #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
}

.validation-summary-valid {

}



.Button {border: 1px solid transparent; -moz-border-radius: .3em; -webkit-border-radius: .3em; border-radius: .3em; -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35); -webkit-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35); box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35); cursor: pointer; display: inline-block; font-family:"helvetica neue",arial,sans-serif; font-weight: bold; line-height: 1em; margin: 0; padding: .45em .825em .45em; text-align: center; -moz-transition: all .05s ease-in-out; -o-transition: all .05s ease-in-out; -webkit-transition: all .05s ease-in-out;}
.Button:focus {outline: none;}
.Button:hover {text-decoration: none;}
.Button:active {-moz-transition: none; -o-transition: none; -webkit-transition: none;}
button.Button::-moz-focus-inner {padding: 0; border: 0;}

/* Red Button */
.Button.RedButton {background-color: #d43638; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eb5367), to(#d43638), color-stop(.5,#e04751), color-stop(.5,#de404a));  background-image: -moz-linear-gradient(top, #eb5367, #e04751 50%, #de404a 50%, #d43638); background-image: -o-linear-gradient(top, #eb5367, #e04751 50%, #de404a 50%, #d43638); background-image: -webkit-linear-gradient(top, #eb5367, #e04751 50%, #de404a 50%, #d43638); border-color: #910101; color: #fcf9f9; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb5367', endColorstr='#d43638'); text-shadow: 0 -1px rgba(34,25,25,0.5);}
.Button.RedButton:hover {background-color: #d63e40; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ea5d6e), to(#d63e40), color-stop(.5,#e3535d),color-stop(.5,#e04a54)); background-image: -moz-linear-gradient(top, #ea5d6e, #e3535d 50%, #e04a54 50%, #d63e40); background-image: -o-linear-gradient(top, #ea5d6e, #e3535d 50%, #e04a54 50%, #d63e40); background-image: -webkit-linear-gradient(top, #ea5d6e, #e3535d 50%, #e04a54 50%, #d63e40); border-color: #ad0303; color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea5d6e', endColorstr='#d63e40'); text-shadow: 0 -1px rgba(34,25,25,0.3);}
.Button.RedButton:active {background-color: #c83031; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d5414b), to(#c83031), color-stop(.5,#d5414b),color-stop(.5,#d33d46)); background-image: -moz-linear-gradient(top, #dd4b5d, #d5414b 50%, #d33d46 50%, #c83031); background-image: -o-linear-gradient(top, #dd4b5d, #d5414b 50%, #d33d46 50%, #c83031); background-image: -webkit-linear-gradient(top, #dd4b5d, #d5414b 50%, #d33d46 50%, #c83031); border-color: #510000; color: #f2f0f0; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b5d', endColorstr='#c83031'); text-shadow: 0 -1px rgba(34,25,25,0.6);}

.Button.RedButton.Button11:hover {box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 5px rgba(235,82,82,0.25); -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 5px rgba(235,82,82,0.25); -webkit-box-shadow:  0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 5px rgba(235,82,82,0.25);}
.Button.RedButton.Button11:active {box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 1px rgba(235,82,82,0.35); -moz-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 1px rgba(235,82,82,0.35); -webkit-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 2px rgba(235,82,82,0.35);}

.Button.RedButton.Button13:hover {box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 6px rgba(235,82,82,0.25); -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 6px rgba(235,82,82,0.25); -webkit-box-shadow:  0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 6px rgba(235,82,82,0.25);}
.Button.RedButton.Button13:active {box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 2px rgba(235,82,82,0.35); -moz-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 2px rgba(235,82,82,0.35); -webkit-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 2px rgba(235,82,82,0.35);}

.Button.RedButton.Button18:hover {box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 10px rgba(235,82,82,0.25); -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 10px rgba(235,82,82,0.25); -webkit-box-shadow:  0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 10px rgba(235,82,82,0.25);}
.Button.RedButton.Button18:active {box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 3px rgba(235,82,82,0.35); -moz-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 3px rgba(235,82,82,0.35); -webkit-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 3px rgba(235,82,82,0.35);}

.Button.RedButton.Button24:hover {box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 14px rgba(235,82,82,0.25); -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 14px rgba(235,82,82,0.25); -webkit-box-shadow:  0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35), 0 0 14px rgba(235,82,82,0.25);}
.Button.RedButton.Button24:active {box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 4px rgba(235,82,82,0.35); -moz-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 4px rgba(235,82,82,0.35); -webkit-box-shadow: inset 0 1px 2px rgba(34,25,25,0.25), 0 0 4px rgba(235,82,82,0.35);}


/*SelectedItemDetailViewPartial*/
.selected-item-detail-div {
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    background-color: whitesmoke;    
}

.bx-prev {
	position: absolute;
	top: 78px;
	left: -35px;
	width: 31px;
	height: 31px;
	text-indent: -999999px;
	background: url(./images/icon_arrow_left.png) no-repeat 0 -31px;
}

.bx-next {
	position: absolute;
	top: 78px;
	right: -40px;
	width: 31px;
	height: 31px;
	text-indent: -999999px;
	background: url(./images/icon_arrow_right.png) no-repeat 0 -31px;
}

.demo-wrap .bx-next:hover,
.demo-wrap .bx-prev:hover {
	background-position: 0 0;
}

