.ui-flier-tile {
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    margin: 8px;
    width: 200px;
    height: 200px;
    display: inline-block;
    background-color: #68757E;
    color: white;
    overflow-y: hidden;
}

.ui-flier-tile .tile-image {
    height: 150px;
    overflow-y: visible;
}

div.ui-flier-tile .bulletin-img {
    width: 200px;
    cursor: pointer;
    display: block;
}

div.tile-summary {
    font-size: 12px;
    text-align: left;
    background-color: black;
    opacity: 0.9;
    height: 50px;
    overflow: hidden;
    font-family: sans-serif;
    padding-left: 8px;
    
}
div.tile-summary div.tile-peel {
    display: table-cell;
    vertical-align: bottom;  
}

div.tile-summary div.tile-peel a {
    display: block;
    padding: 10px 0px;
}

div.tile-summary div.flier-title {
    font-weight: bold;
    font-size: 12PX;
    line-height: 14px;
    overflow: hidden;
    height: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
    margin-top: 12px;
}

div.tile-summary div.flier-board {
    color: white;
    font-size: 12px;
    padding: 5px 5px 5px 0;
}

div.tile-summary div.flier-board a{
    color: white;
    font-size: 12px;
    text-decoration: none;
}

body#board-page div.tile-summary div.flier-board a{
    display: none;
}

div.tile-summary div.tile-description {
    display: table-cell;
    width: 200px;
}

div.addedtile 
{
    display: none;	
}
