
<div class="distSel">
    <div data-bind="distanceSlider: @ViewBag.DistanceVariable" class="distance-slider"></div>
    <div id="distValue">
        <span data-bind="text: @ViewBag.DistanceVariable"></span>km
    </div>
    <div style="clear: both"></div>
</div>

