.ui-flier-tile {
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    display: inline-block;
    margin: 8px;
    width: 228px;
}

.ui-flier-tile img 
{
    position: relative;
    width: 228px;
    cursor: pointer;
}

.detail-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    
    opacity: 0.0;
 
    
    -webkit-transition: all 0.5s ease-out 0s;
   -moz-transition: all 0.5s ease-out 0s;
   -ms-transition: all 0.5s ease-out 0s;
   -o-transition: all 0.5s ease-out 0s;
   transition: all 0.5s ease-out 0s;
 
}


/***default detail view layout***/

.flier-view {

}

.flier-view .flier-details {
    
}


.flier-view .flier-details .flier-img img {
    width: 450px;
}

.flier-view .flier-details .flier-claims-comments{
    
}

.flier-view .flier-details .flier-claims-comments .claim-stats{
    display: inline;
}

.flier-view .flier-details .flier-claims-comments .comment-stats{
    display: inline;
}

.flier-view .flier-details .flier-desc {
    
}

.flier-view .comments {
    
}

.flier-view .claims {
    float: left;
    margin-right: 15px;
}
/***end default detail view layout***/


.get-flier-detail-div {
    width: 800px;
    margin: 0 auto 0;
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
div.tile-summary {
    font-size: 12px;
    text-align: left;
    padding-left: 10px;    
}
div.tile-summary a.bold-link {
    float: right;
    padding: 2px 10px 10px 2px
}

div.tile-summary div.flier-title {
    font-weight: bold;
}

div.tile-summary div.flier-locality {
    color: #CACACA;
    font-size: 12px;
}





