



/***default detail view layout***/

.flier-view {

}

.flier-view .flier-details {
    
}


.flier-view .flier-details .flier-img img {
    width: 450px;
}

.flier-view .flier-details .flier-claims-comments{
    
}

.flier-view .flier-details .flier-claims-comments .claim-stats{
    display: inline;
}

.flier-view .flier-details .flier-claims-comments .comment-stats{
    display: inline;
}

.flier-view .flier-details .flier-desc {
    
}

.flier-view .comments {
    
}

.flier-view .claims {
    float: left;
    margin-right: 15px;
}
/***end default detail view layout***/


.get-flier-detail-div {
    width: 800px;
    margin: 0 auto 0;
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}






