.ui-flier-tile {
	padding: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    display: inline-block;
    margin: 3px;
    font-size: 16px;
    width: 260px;
}

.ui-flier-tile img 
{
    position: relative;
    width: 250px;
    cursor: pointer;
}

.detail-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    
    opacity: 0.0;
 
    
    -webkit-transition: all 0.5s ease-out 0s;
   -moz-transition: all 0.5s ease-out 0s;
   -ms-transition: all 0.5s ease-out 0s;
   -o-transition: all 0.5s ease-out 0s;
   transition: all 0.5s ease-out 0s;
 
}


/***default detail view layout***/

.flier-view {

}

.flier-view .flier-details {
    
}


.flier-view .flier-details .flier-img img {
    width: 450px;
}

.flier-view .flier-details .flier-claims-comments{
    
}

.flier-view .flier-details .flier-claims-comments .claim-stats{
    display: inline;
}

.flier-view .flier-details .flier-claims-comments .comment-stats{
    display: inline;
}

.flier-view .flier-details .flier-desc {
    
}

.flier-view .comments {
    
}

.flier-view .claims {
    float: left;
    margin-right: 15px;
}
/***end default detail view layout***/


.get-flier-detail-div {
    width: 800px;
    margin: 0 auto 0;
}

/*Help Tips Bulletin*/
.helptips-container#bulletin-toolbar-helptip {
    top: 100px;
    max-width: 30%;
    min-width: 100px;
}

#bulletin-toolbar-helptip .helptips-group-icon.btn-tags {
    margin: 0;
}

/*Help Tips Bulletin*/

@media only screen and (max-width: 600px)
{
    .helptips-container#bulletin-toolbar-helptip {
        padding-top: 75px;
    }

    .helptips-container#bulletin-toolbar-helptip div.helptips-arrow
    {
        width: 20px;
        height: 76px;
    }

}

