
@using System.Globalization
@model PostaFlya.Models.FlierPaymentModel

@{
    ViewBag.Title = "Transaction Status";
    Layout = "~/Views/Profile/_Layout.cshtml";
}

<h2>Add Credits To Your Flya Account</h2>
@{
    using (Html.BeginForm("PaymentProcess", "Payment", FormMethod.Post))
    {

    <input type="hidden" name="paymentServiceName" id="paymentServiceName" value="googleWallet"/>
        
    <h3>Choose amount to add</h3>    
    <ul>
            @foreach (var package in Model.PaymentOptions)
            {
                <li>
                    @Html.Label(package.Credits.ToString(CultureInfo.InvariantCulture) + " for $" + package.Payment.ToString(CultureInfo.InvariantCulture))
                    @Html.RadioButton("amount", package.Payment.ToString(CultureInfo.InvariantCulture), true)
                </li>
            }
        </ul>
    
    <div class="btm-buttons">
        <a type="submit" title="submit" value="Pay" class="std-btn" data-bind="click: submit" >Add Credit</a>
    </div>    
    }
}

