
@using System.Web.Optimization
@model PostaFlya.Models.Browser.PaymentResult

@{
    ViewBag.Title = "Transaction Status";
    Layout = "~/Views/Profile/_Layout.cshtml";
}

<h2>Transaction @Model.TransactionStatus</h2>
<h3> @Model.SubHeading</h3>
@Model.PaymentMessage
    
<div class="btm-buttons">
@Html.ActionLink("Back to Flier Payment", "PaymentPending", "Profile",null, new{@class="std-btn"})
</div>
    


