
@model PostaFlya.Models.Browser.PaymentTrasactionPageModel

@{
    ViewBag.Title = "Transaction History";
    Layout = "~/Views/Profile/_Layout.cshtml";
}


<h2>Previous Transactions</h2>
<h3>Previous Popscenes Credit Purchases</h3>
<ul>
    @foreach (var transaction in Model.Transactions)
    {
        <li class="transaction-item">$@transaction.Amount @transaction.Type @transaction.Message on @transaction.Time.ToString("dd/MM/yyyy hh:mm:ss")</li>    
    }
</ul>
    
<div class="btm-buttons">
@Html.ActionLink("Back to Flyer Payment", "PaymentPending", "Profile",null, new{@class="std-btn"})
</div>

