@using System.Web.Optimization
@using Website.Common.Extension
@section scripts {
    @Styles.Render("~/Content/structure/Account/DeskCss")   
    @Styles.Render("~/Content/themes/taskflya/Account/DeskCss")   
    @Scripts.Render("~/Script/AccountDeskJs") 
}

<script type="text/javascript">
    $(function () {
        // make buttons jqueryui buttons
        $("button").button();

        // add click behaviour
        $("button").click(function () {
            window.location = $(this).attr("id");
        });

        $(document).ready(function () {
            openid.init('providerIdentifier');
            //openid.setDemoMode(false); //Stops form submission for client javascript-only test purposes
        });
    });
</script>

<div class="page-content">
    <div id="identity-provider-content" class="page-inner">
        <h2>
            Sign in using one of the following options
        </h2>
            @using (Html.BeginForm("AuthRequest", "Account", FormMethod.Post, new { id = "openid_form" }))
            {
		    <input type="hidden" name="action" value="verify" />
        <fieldset>
            <div id="openid_choice">
                <h3>Please choose your sign in option</h3>
                <div id="openid_btns"></div>
            </div>
            <div id="openid_input_area">
                <input id="openid_identifier" name="providerIdentifier" type="text" value="http://" />
                <input id="openid_submit" type="submit" value="Sign-In"/>
            </div>
        </fieldset>
        }
	
    </div>
</div>
