
@using System.Web.Optimization
@using Website.Common.Extension
@section scripts {
    @Styles.Render("~/Content/themes/taskflya/Account/DeskCss.css")
    @Scripts.Render("~/Script/AccountDeskJs.js")
}

<script type="text/javascript">
    $(function () {
        // make buttons jqueryui buttons
        $("button").button();

        // add click behaviour
        $("button").click(function () {
            window.location = $(this).attr("id");
        });

        $(document).ready(function () {
            openid.init('providerIdentifier');
            //openid.setDemoMode(false); //Stops form submission for client javascript-only test purposes
        });
    });
</script>

<div class="page-content">
    <div id="identity-provider-content" class="page-inner">
        <h2>Sign in using one of the following options</h2>
        
        <div class="terms-of-service-signin" data-bind="showOnce: 'emailprivacy'">
            <p>
                Note we will not share your email address with ANYONE without consent or send you any unsolicited email, as per our <a href="/privacypolicy">privacy policy</a>.
                We only send you emails with information regarding eventflyers you have peeled.</p>
            <p>
                If you post an event flyer you can choose to attach your contact details, they will only be shared with other Popscenes users who peel the flyer details.
            </p>
        </div>
        
        @using (Html.BeginForm("AuthRequest", "Account", FormMethod.Post, new { id = "openid_form" }))
        {
             if (!string.IsNullOrWhiteSpace(ViewBag.ReturnUrl))
             {
                <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" /> 
             }
            
            <input type="hidden" name="action" value="verify" />
            <fieldset>
                <legend>Sign In</legend>
                <div id="openid_choice">
                    <h3>Please choose your sign in option</h3>
                    <div id="openid_btns"></div>
                </div>
                <div id="openid_input_area">
                    <input id="openid_identifier" name="providerIdentifier" type="text" value="http://" />
                    <input id="openid_submit" type="submit" value="Sign-In" />
                </div>
                

            </fieldset>
        }
        
        @if (ViewBag.FreeCredits != null)
        {
            <b style="text-align: center; padding: 10px; display: block">Get @ViewBag.FreeCredits Free Credits when You Sign Up During Our Popscenes Launch!</b>
        }
        
        <div class="terms-of-service-signin">
                    by signing in you agree to our <a href="/termsofservice">Terms of Service</a>
        </div>
    </div>
</div>
